<div class="hero">
  <div class="slider">
    <div class="slider__in">
      <div class="js-slider">
        <div class="slider__item">
  
          <a href="#" class="slider__link">
            <img src="./img/221931892.jpg" alt="" class="slider__img">
          </a>
        </div>
        <div class="slider__item">
          <a href="#" class="slider__link">
            <img src="./img/223073353.jpg" alt="" class="slider__img">
          </a>
        </div>
  
        <div class="slider__item">
          <a href="#" class="slider__link">
            <img src="./img/196966598.jpg" alt="" class="slider__img">
          </a>
        </div>
  
        <div class="slider__item">
          <a href="#" class="slider__link">
            <img src="./img/219915616.jpg" alt="" class="slider__img">
          </a>
        </div>
  
        <div class="slider__item">
          <a href="#" class="slider__link">
            <img src="./img/201287822.jpg" alt="" class="slider__i
            mg">
          </a>
        </div>
  
        <div class="slider__item">
          <a href="#" class="slider__link">
            <img src="./img/222592113.jpg" alt="" class="slider__img">
          </a>
        </div>
  
        <div class="slider__item">
          <a href="#" class="slider__link">
            <img src="./img/223205264.jpg" alt="" class="slider__img">
          </a>
        </div>
  
        <div class="slider__item">
          <a href="#" class="slider__link">
            <img src="./img/222595652.jpg" alt="" class="slider__img">
          </a>
        </div>
  
        <div class="slider__item">
          <a href="#" class="slider__link">
            <img src="./img/220700530.jpg" alt="" class="slider__img">
          </a>
        </div>
  
        <div class="slider__item">
          <a href="#" class="slider__link">
            <img src="./img/219493145.jpg" alt="" class="slider__img">
          </a>
        </div>
  
        <div class="slider__item">
          <a href="#" class="slider__link">
            <img src="./img/222374186.jpg" alt="" class="slider__img">
          </a>
        </div>
      </div>
      <a href="#" class="slider__stock">Все акции
        <span class="slider__quantity">914</span>
      </a> 
    </div>
  </div>
</div>