.lang-change
  &__list
    display: flex
    align-items: center
  
  &__pipe
    width: 1px
    height: 28px
    background:#797878
  &__link
    padding: 0 8px
    font-size: 14px
    line-height: 28px
    color: #797878
    cursor: text
    &:hover
      color:#fff

.lang-change--deactive
  color: #fff
  cursor: pointer
  &:hover
    color: #f84147