.info
  &__in
    padding: 2px 8px
    background-color: #fff 
  &__part
    padding-top: 8px
    padding-bottom: 16px
    border-bottom: 1px solid #e9e9e9
    &:hover .info__list
      color: red
  &__list--active
    overflow: hidden
    max-height: 0
  &__select
    display: flex
    justify-content: space-between
    align-items: center    
    svg
      cursor: pointer
      font-size: 24px
      transform: rotate(0deg)
  &__btn
    background-color: transparent 
  
    
  &__title
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    height: 40px
    padding-left: 8px
    padding-right: 8px
    font-size: 14px
    color: #797878
  &__link
    display: block
    padding-left: 8px
    padding-right: 8px
    font-size: 14px
    line-height: 32px
    color: #221f1f 
    &:hover
      text-decoration: underline
  
