{% include "components/_aside.html" %}
<header class="header js-header">
  <div class="container">
    <div class="header__in">
      <div class="header__burger">
        {% include "components/header/icons/_burger-icon.html" %}
      </div>
      <div class="header__logo">
        {% include "partials/_logo.html" %}
      </div>
      <div class="header__catalog">
        {% include "components/header/icons/_catalog.html" %}
      </div>
      <div class="header__search">
        {% include "components/header/_search.html" %}
      </div>
      <div class="header__lang-change">
        {% include "components/header/_lang-change.html" %}
      </div>
      <div class="header__premium">
        {% include "components/header/icons/_premium-icon.html" %}
      </div>
      <div class="header__login">
        {% include "components/header/icons/_login-icon.html" %}
        
      </div>
      <div class="header__basket">
        {% include "components/header/icons/_basket-icon.html" %}
        
      </div>
    </div>
  </div>
  
</header>