<main class="container js-container">
  <main class="main js-main">


    <div class="main__in js-main-in">
      {% include "../components/main/_hero.html" %}
      {% include "../components/main/_sidebar.html" %}
      {% import "../data/section-products.html" as data %}

      {% for section in data.sectionProducts %}
      <div class="main__products">
        {{mixins.products(section.title, section.productsLength)}}
      </div>
      {% endfor %}

      <div class="main__videos">
        {%include "../components/main/_video.html" %}
      </div>



    </div>
  </main>

</main>
</div>