<div class="side-menu">
  <div class="side-menu__overlay"></div>
  <div class="side-menu__content">
    <div class="js-side-menu">
      <div class="side-menu__header">
        <div class="side-menu__logo">
          {% include "../partials/_logo.html" %}
        </div>
        <button class="side-menu__close-btn">
          {{mixins.icon('close')}}
        </button>
      </div>
      <div class="side-menu__authorization">
        {% include "../components/side-menu-burger/_authorization.html" %}
      </div>
      <a href="#" class="side-menu__premium-menu">
        {% include "../components/side-menu-burger/_premium-menu.html" %}
      </a>
      <div class="side-menu__client">
        {% include "../components/side-menu-burger/_client.html" %}
      </div>
      <div class="side-menu__location">
        {% include "../components/side-menu-burger/_location.html" %}
      </div>
      <div class="side-menu__info">
        {% include "../components/side-menu-burger/_info.html" %}

      </div>
      <div class="side-menu__app">
        {% include "../components/side-menu-burger/_apps.html" %}
      </div>
    </div>
    <div class="side-menu__social">
      {% include "../components/side-menu-burger/_social.html" %}
    </div>
  </div>
</div>








</div>