{% set products = [
      {
        name: 'Робот для мойки окон LogicPower LPW-002',
        imgUrl: './img/17400113.jpg',
        priceOld: 5699,
        currency: '₴',
        price: 4589,
        favorite: true

      },
      {
        name: 'Робот для мойки окон LogicPower LPW-002',
        imgUrl: './img/17400113.jpg',
        priceOld: 5699,
        currency: '₴',
        price: 4589,
        favorite: true

      },
      {
        name: 'Робот для мойки окон LogicPower LPW-002',
        imgUrl: './img/17400113.jpg',
        priceOld: 5699,
        currency: '₴',
        price: 4589,
        favorite: true

      },
      {
        name: 'Робот для мойки окон LogicPower LPW-002',
        imgUrl: './img/17400113.jpg',
        priceOld: 5699,
        currency: '₴',
        price: 4589,
        favorite: true

      },
      {
        name: 'Робот для мойки окон LogicPower LPW-002',
        imgUrl: './img/17400113.jpg',
        priceOld: 5699,
        currency: '₴',
        price: 4589,
        favorite: true

      },
      {
        name: 'Робот для мойки окон LogicPower LPW-002',
        imgUrl: './img/17400113.jpg',
        priceOld: 5699,
        currency: '₴',
        price: 4589,
        favorite: true
      
      }
    ]
%}