{% set sidebarItems = [
{
name: ' Ноутбуки и компьютеры ',
href: '#',
svg: 'laptops',
svgmedia: 'arrow-right'
},
{
name: 'Смартфоны, ТВ и электроника',
href: '#',
svg: 'smartphones',
svgmedia: 'arrow-right'
},
{
name: 'Товары для геймеров',
href: '#',
svg: 'gamers',
svgmedia: 'arrow-right'
},
{
name: 'Бытовая техника',
href: '#',
svg: 'appliances',
svgmedia: 'arrow-right'
},
{
name: 'Товары для дома',
href: '#',
svg: 'for-home',
svgmedia: 'arrow-right'
},
{
name: 'Инструменты и автотовары',
href: '#',
svg: 'instruments',
svgmedia: 'arrow-right'
},
{
name: 'Сантехника и ремонт',
href: '#',
svg: 'plumbing',
svgmedia: 'arrow-right'
},
{
name: 'Дача, сад и огород',
href: '#',
svg: 'garden',
svgmedia: 'arrow-right'
},
{
name: 'Спорт и увлечения',
href: '#',
svg: 'sport',
svgmedia: 'arrow-right'
},
{
name: 'Одежда, обувь и украшения',
href: '#',
svg: 'wear',
svgmedia: 'arrow-right'
},
{
name: 'Красота и здоровье',
href: '#',
svg: 'beauty',
svgmedia: 'arrow-right'
},
{
name: 'Детские товары',
href: '#',
svg: 'for-kids',
svgmedia: 'arrow-right',
imgUrl: './img/toys.png'
},
{
name: 'Канцтовары и книги',
href: '#',
svg: 'stationery',
svgmedia: 'arrow-right'
},
{
name: 'Алкогольные напитки и продукты',
href: '#',
svg: 'alcohol',
svgmedia: 'arrow-right'
},
{
name: 'Товары для бузнеса',
href: '#',
svg: 'business',
svgmedia: 'arrow-right'
},
{
name: 'Услуги и сервисы',
href: '#',
svg: 'services',
svgmedia: 'arrow-right'
},
{
name: 'Туры и отдых',
href: '#',
svg: 'tourism',
svgmedia: 'arrow-right'
},
{
name: 'Акции',
href: '#',
svg: 'stock'
},
{
name: 'Держите скидки до 45%',
href: '#',
svg: 'seller',
imgUrl: './img/leaf.png' 
}

]
%}