{% set sidebarItems = [
{
name: ' Ноутбуки и компьютеры ',
href: '#',
svg: 'laptops'
},
{
name: 'Смартфоны, ТВ и электроника',
href: '#',
svg: 'smartphones'
},
{
name: 'Товары для геймеров',
href: '#',
svg: 'gamers'
},
{
name: 'Бытовая техника',
href: '#',
svg: 'appliances'
},
{
name: 'Товары для дома',
href: '#',
svg: 'for-home'
},
{
name: 'Инструменты и автотовары',
href: '#',
svg: 'instruments'
},
{
name: 'Сантехника и ремонт',
href: '#',
svg: 'plumbing'
},
{
name: 'Дача, сад и огород',
href: '#',
svg: 'garden'
},
{
name: 'Спорт и увлечения',
href: '#',
svg: 'sport'
},
{
name: 'Одежда, обувь и украшения',
href: '#',
svg: 'wear'
},
{
name: 'Красота и здоровье',
href: '#',
svg: 'beauty'
},
{
name: 'Детские товары',
href: '#',
svg: 'for-kids',
imgUrl: './img/toys.png'
},
{
name: 'Канцтовары и книги',
href: '#',
svg: 'stationery'
},
{
name: 'Алкогольные напитки и продукты',
href: '#',
svg: 'alcohol'
},
{
name: 'Товары для бузнеса',
href: '#',
svg: 'business'
},
{
name: 'Услуги и сервисы',
href: '#',
svg: 'services'
},
{
name: 'Туры и отдых',
href: '#',
svg: 'tourism'
},
{
name: 'Акции',
href: '#',
svg: 'stock'
},
{
name: 'Держите скидки до 45%',
href: '#',
svg: 'seller',
imgUrl: './img/leaf.png' 
}

]
%}