.icon-alcohol {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-appliances {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-basket {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-beauty {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-burger {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-business {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-catalog {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-for-kids {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-forhome {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gamers {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-garden {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instruments {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-laptops {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-login {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-microphone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plumbing {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-premium {
  width: 3em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-services {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-smartphones {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sport {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-stationery {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-stock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tourism {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-wear {
  width: 1em;
  height: 1em;
  fill: initial;
}
