<div class="links">
  <h3 class="links__title">
    Помощь
  </h3>
  <ul class="links__list">
    <li class="links__item"><a href="#" class="links__link">Доставка и оплата</a></li>
    <li class="links__item"><a href="#" class="links__link">Кредит</a></li>
    <li class="links__item"><a href="#" class="links__link">Гарантия</a></li>
    <li class="links__item"><a href="#" class="links__link">Возврат товара</a></li>
    <li class="links__item"><a href="#" class="links__link">Сервисные центры</a></li>
    <li class="links__item"><a href="#" class="links__link">Отследить заказ</a></li>
  </ul>
  <h3 class="links__title">
    Информация о компании
  </h3>
  <ul class="links__list">
    <li class="links__item"><a href="#" class="links__link">О нас</a></li>
    <li class="links__item"><a href="#" class="links__link">Условия использования сайта</a></li>
    <li class="links__item"><a href="#" class="links__link">Вакансии</a></li>
    <li class="links__item"><a href="#" class="links__link">Контакты</a></li>
  </ul>
  <h3 class="links__title">
    Сервисы
  </h3>
  <ul class="links__list">
    <li class="links__item"><a href="#" class="links__link">Бонусный счет</a></li>
    <li class="links__item"><a href="#" class="links__link">Rozetka Premium</a></li>
    <li class="links__item"><a href="#" class="links__link">Подарочные сертификаты</a></li>
    <li class="links__item"><a href="#" class="links__link">Rozetka обмен</a></li>
    <li class="links__item"><a href="#" class="links__link">Rozetka Travel</a></li>
  </ul>
  <h3 class="links__title">
    Партнерам
  </h3>
  <ul class="links__list">
    <li class="links__item"><a href="#" class="links__link">Франчайзинг</a></li>
    <li class="links__item"><a href="#" class="links__link">Продавать на Розетке</a></li>
    <li class="links__item"><a href="#" class="links__link">Сотрудничество с нами</a></li>
  </ul>
</div>