.sidebar
  width: 300px
  &__list
    padding: 24px 0
  &__link
    display: flex
    align-items: center
    width: 100%
    padding-left: 12px
    padding-right: 12px
    box-sizing: border-box
    font-size: 14px
    line-height: 31px
    transition: all .2s ease
    color: #3e77aa
    &:hover
      text-decoration: underline
      color: #f84147
    &:active
      text-decoration: underline
      color: #f84147
    svg
      margin-right: 12px
      fill: #adb8c8
      font-size: 20px
  &__help
    display: flex
    align-items: center
    padding: 0px 16px
    height: 40px
    line-height: 0
    border-top: 1px solid #e9e9e9
    border-radius: 4px
    color: #3e77aa
    svg
      fill: #a6a5a5
      margin-right: 12px
      font-size: 24px










