<div class="info">
  <ul class="info__in">
    <li class="info__part">
      <h4 class="info__title">
        Информация о компании
      </h4>
      <ul class="info__list">
        <li class="info__item">
          <a href="#" class="info__link">
            О нас
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Условия использования сайта
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Вакансии
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Контакты
          </a>
        </li>
      </ul>
    </li>
    <li class="info__part">
      <h4 class="info__title">
        Помощь
      </h4>
      <ul class="info__list">
        <li class="info__item">
          <a href="#" class="info__link">
            Доставка и оплата
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Кредит
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Гарантия
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Возврат товара
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Сервисные центры
          </a>
        </li>
      </ul>
    </li>
    <li class="info__part">
      <div class="info__select">
        <h4 class="info__title">
          Партнерам
        </h4>
        <button class="info__btn">
        {{mixins.icon('arrow-small-down')}}
        </button>
      </div>
      <ul class="info__list">
        <li class="info__item">
          <a href="#" class="info__link">
            Продавать на Розетке
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Сотрудничество с нами
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Франчайзинг
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Аренда помещений
          </a>

      </ul>
    </li>
    <li class="info__part">
      <div class="info__select">
        <h4 class="info__title">
          Сервисы
        </h4>
        <button class="info__btn">
        {{mixins.icon('arrow-small-down')}}
        </button>
      </div>
      <ul class="info__list">
        <li class="info__item">
          <a href="#" class="info__link">
            Бонусный счёт
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Rozetka Premium
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Подарочные сертификаты
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Rozetka Обмен
          </a>
        </li>
        <li class="info__item">
          <a href="#" class="info__link">
            Туры и отдых
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>