<div class="location">
  <div class="location__row-one">
    <p class="location__text">
      Язык
    </p>
    <div class="location__lang">
      <button class="location__lang-ru location__lang--active">
        RU
      </button>
      <button class="location__lang-ua">
        UA
      </button>
    </div>
  </div>
  <div class="location__row-two">

    <p class="location__text">
      Город
    </p>

    <a href="#" class="location__link">
      Киев{{mixins.icon('arrow-small-down')}}
    </a>
  </div>
</div>